extends partials/layout.pug 
block content
    div 
      p=movie.summary 
    div 
      ul 
        each gener in movie.genres
          li=gener
        each src in movie 


    include partials/header.pug