header 
    nav 
        ul 
            li 
                a(href="/trending") TRENDING
            li 
                a(href="/new") NEW STORY
            li 
                a(href="/join") JOIN
            li 
                a(href="/login") LOGIN
            li 
                a(href="/search") SEARCH
            li 
                a(href="/users") USER-LIST
