header 
    nav 
        ul 
            li 
                a(href="/trending") TRENDING
            li 
                a(href="/new") NEW STORY
            if !loggedIn
                li 
                    a(href="/join") JOIN
                li 
                    a(href="/login") LOGIN
            if loggedIn 
                li 
                    a(href="/logout") LOG OUT
            li 
                a(href="/search") SEARCH
            li 
                a(href="/users") USER-LIST
