doctype html 
html(lang="ko") 
    head 
        title #{pageTitle} | Challenge
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        h1 #{pageTitle} | FRIEND 
        main 
            block content
            include ./footer.pug

        script(src="https://kit.fontawesome.com/981361981b.js" crossorigin="anonymous") 
