extends ../partials/layout
block content 
    form(method="post")
        input(name="name",type="text",placeholder="Write name")
        input(name="email",type="email",placeholder="Write email")
        button EDIT USER