extends ../partials/layout
block content 
    form(method="post")
        input(name="title",type="text",required=true,placeholder="Write Story Title")
        input(name="hashtag",type="hasgtag",required=true,placeholder="Write Hashtag(,)")
        input(name="description",type="text",required=true,placeholder="Write Description")
        button MAKE STORY
