extends ../partials/layout.pug 
block content 
    nav 
        ul 
            li 
                a(href=`${id}/edit`) EDIT STORY
            li     
                a(href=`${id}/delete`) DELETE STORY