extends ../partials/layout.pug 
block content 
    nav 
        ul 
            li 
                a(href=`${url}/edit`) EDIT STORY
            li     
                a(href=`${url}/delete`) DELETE STORY